@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.container {
  background-color: #55d6aa;
}

.nav__link {
  text-decoration: none;
  color: #444;
  font-family: "Work Sans";
  font-weight: 800;
  display: block;
  margin: 0 2em;
  padding: 1.5em 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #444;
    width: 0;
    height: 5px;
    transition: width ease-in-out 150ms;
  }

  &:hover::before {
    width: 100%;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
